<div id="srovnani" *ngIf="offers.length">

	<div *ngIf="data.pojisteni == 'OBODP' && offers.length">
		<!-- šablona odpovědnost občanská : detail -->
		<div [@list]="offers.length" *ngIf="!layout.table">
			<div @items *ngFor="let r of offers" class="card mb-3" [class.selected]="data.produkt === r.id">
			</div>
		</div>

		<!-- šablona odpovědnost občanská : tabulka -->
        <div *ngIf="layout.table" class="card table"> <!-- [@list]="offers.length" -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col col-lg-2">{{ 'SROVNANI.PARTNER' | translate }}</div>
                    <div class="col col-lg-2 hidden-sm-down">{{ 'SROVNANI.PRODUKT.TITLE' | translate }}</div>					
                    <div class="col-lg-2 hidden-md-down text-right"
                        placement="top auto"
                        triggers="mouseenter:mouseleave"
                        tooltip="{{ 'SROVNANI.PC.HINT' | translate }}">
                        {{ 'SROVNANI.PC.TITLE' | translate }}</div>
                    <div class="col-2 text-center hidden-sm-down"
                        placement="top"
                        triggers="mouseenter:mouseleave"
                        popover="{{ 'SROVNANI.INFO.HINT' | translate }}">
                        {{ 'SROVNANI.INFO.TITLE' | translate }}</div>												
                    <div class="col-7 col-md-4 text-center">{{ 'SROVNANI.SPLATKA' | translate }}: {{ ('TEXTY.PLATBA.' + data.platba) | translate }}</div>			
                </div>
            </div>
            <div class="card-body">
                <!-- @items -->
                <div @items *ngFor="let r of offers" class="row partner align-items-center" [class.selected]="r.id === data.produkt"
                    (click)="layout.produktCollapsed[r.id] = !layout.produktCollapsed[r.id]"
                    [attr.aria-expanded]="!layout.produktCollapsed[r.id]" aria-controls="produktCollapsed"
                >
                    <div class="col-5 col-md col-lg-2 produkt {{ r?.cssExtra }}Xs">
                        <img src="{{ LOGA[r.pojistovna] }}" class="img-fluid" alt="{{ r?.pojistovna }}" />
                        <i class="fas fa-chevron-down hidden-md-up"></i>
                    </div>
                    <div class="col col-lg-2 hidden-sm-down vag {{ r?.cssExtra }}"><span [outerHTML]="r.produkt"></span></div>
                    <div class="col-lg-2 hidden-md-down text-right"
                            placement="top auto"
                            triggers="mouseenter:mouseleave"
                            tooltip="{{ 'SROVNANI.PC.HINT' | translate }}">						
                        <span [outerHTML]="r?.params?.boz?.hodnota | menaFormat"></span>
                    </div>
                    <div class="col-2 text-center hidden-sm-down"><i class="fas fa-chevron-down"></i>&nbsp;<small>{{ 'SROVNANI.INFO.SHOW' | translate }}</small></div>
                    <div class="col col-md-2 text-right pl-0 cena vag"><span *ngIf="r.platby[data.platba] > 0">{{ r.platby[data.platba] | telefonFormat }}&nbsp;{{ 'FORM.KC' | translate }}</span></div>
                    <div class="col col-md-2 text-right sjednat">
                        <button class="btn btn-sm btn-success pull-right" (click)="vyberProdukt.emit(r.id);">
                            {{ 'FORM.BUTTONS.SJEDNAT' | translate }}&nbsp;<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- detail : -->
                    <div id="produktCollapsed_{{r.id}}" [collapse]="layout.produktCollapsed[r.id]" [isAnimated]="true" class="col-12 order-4">
                        <hr class="my-0" />
                        <div class="row mb-2">
                            <div class="visible-sm-down vag col-12">
                                <ul *ngIf="r.tipy.length" class="mt-4 fa-ul vagl">
                                    <li *ngFor="let tt of r.tipy">
                                            <span [outerHTML]="tt | Tips"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-6 pl-0">
                                <div class="mt-4">
                                    <h5 class="visible-sm-down vagl">{{ r.produkt }}</h5>
                                    <div class="clearfix">{{ r?.params.boz.popis }}:<span class="float-right" [innerHTML]="r?.params.boz | menaFormatInfo:r.params.boz.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.dom.popis }}:<span class="float-right" [innerHTML]="r?.params.dom | menaFormatInfo:r.params.dom.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.rsp.popis }}:<span class="float-right" [innerHTML]="r?.params.rsp | menaFormatInfo:r.params.rsp.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.zdr.popis }}:<span class="float-right" [innerHTML]="r?.params.zdr | menaFormatInfo:r.params.zdr.hodnota"></span></div>							
                                    <div class="clearfix">{{ r?.params.pel.popis }}:<span class="float-right" [innerHTML]="r?.params.pel | menaFormatInfo:r.params.pel.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.dzv.popis }}:<span class="float-right" [innerHTML]="r?.params.dzv | menaFormatInfo:r.params.dzv.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.hzv.popis }}:<span class="float-right" [innerHTML]="r?.params.hzv | menaFormatInfo:r.params.hzv.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.nem.popis }}:<span class="float-right" [innerHTML]="r?.params.nem | menaFormatInfo:r.params.nem.hodnota"></span></div>								
                                    <div class="clearfix">{{ r?.params.pro.popis }}:<span class="float-right" [innerHTML]="r?.params.pro | menaFormatInfo:r.params.pro.hodnota"></span></div>
                                    <div class="clearfix">{{ r?.params.spol.popis }}:<span class="float-right" [innerHTML]="r?.params.spol.hodnota | spolFormat"></span></div>
                                </div>                                
                            </div>
                            <div class="col-lg-6 offset-md-1 col-md-5 px-0">
                                <div class="">
                                    <h5 *ngIf="r.pplatby.length" class="vagl mt-4">{{ 'SROVNANI.PLATBY' | translate }}</h5>
                                    <span *ngFor="let pl of r.pplatby" class="" >
                                        <button *ngIf="pl.value > 0" class="btn btn-sm mt-1 mr-1"
                                            [class.btn-primary]="data.platba === pl.key" [class.btn-outline-primary]="data.platba !== pl.key"
                                            (click)="data.platba = pl.key">
                                            {{ pl.key }} x <strong><span [outerHTML]="pl.value | telefonFormat"></span>&nbsp;{{ 'FORM.KC' | translate }}</strong>
                                        </button>
                                    </span>
                                </div>
                                <div *ngIf="r.dokumenty.length">
                                    <h5 class="vagl mt-4">{{ 'SROVNANI.DOKUMENTY' | translate }}</h5>
                                    <ul *ngIf="r.dokumenty.length" class="fa-ul">
                                        <li *ngFor="let dok of r.dokumenty">
                                            <a class="" href="{{ dok.url }}" target="_pdf_dok"><span class="fa-li" ><i class="text-danger far fa-file-pdf"></i></span> {{ dok.nazev }}</a>
                                        </li>
                                    </ul>
                                </div> 
                            </div>                        
                        </div>
                    </div>  

                </div>
            </div>
        </div>
	</div>

	<div *ngIf="data.pojisteni == 'ZAMODP' && offers.length">
	<alert type="info" *ngIf="layout.prvniNapoveda" [dismissOnTimeout]="8000" [dismissible]="true">
		<i class="fas fa-chevron-down"></i> {{ 'SROVNANI.COLLAPSEHINT' | translate }}
	</alert>		
	<!-- šablona odpovědnost zaměstnance : detail -->
		<div [@list]="offers.length" *ngIf="!layout.table">
			<div @items *ngFor="let r of offers" class="card mb-3" [class.selected]="data.produkt === r.id">
			</div>	
		</div>
		<!-- šablona odpovědnost zaměstnance : tabulka -->
		<div [@list]="offers.length" *ngIf="layout.table" class="card table">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col-4 col-sm-5 col-lg-2 pl-0 pr-0 row hidden-md-down">
						<div class="col-12">{{ 'SROVNANI.PARTNER' | translate }}</div>
					</div>
					<div class="col-12 col-lg-7 order-3 order-lg-2 pl-0 pr-0 row">
						<div class="col text-right">
							{{ 'SROVNANI.PRODUKT' | translate }}</div>
						<div class="col text-right"
							placement="top"
							triggers="mouseenter:mouseleave"
							popover="{{ 'SROVNANI.PC.HINT' | translate }}">
							{{ 'SROVNANI.PC.TITLE' | translate }}</div>
						<div class="col text-right"
							placement="top"
							triggers="mouseenter:mouseleave"
							popover="{{ 'SROVNANI.SPOL.HINT' | translate }}">
							{{ 'SROVNANI.SPOL.TITLE' | translate }}</div>
						<div class="col text-right"
							placement="top"
							triggers="mouseenter:mouseleave"
							popover="{{ 'SROVNANI.UZPL.HINT' | translate }}">
							{{ 'SROVNANI.UZPL.TITLE' | translate }}</div>							
					</div>
					<div class="col-8 col-sm-7 col-lg-3 order-2 order-lg-3 pl-0 pr-0 row hidden-md-down">
						<div class="text-center ml-4">{{ 'SROVNANI.SPLATKA' | translate }}: {{ ('TEXTY.PLATBA.' + data.platba) | translate }}</div>
					</div>						
				</div>
			</div>
			<div class="card-body">
				<div @items *ngFor="let r of offers" class="row partner align-items-center" [class.selected]="r.id === data.produkt">
					<div class="col-4 col-sm-5 col-lg-2 pl-0 pr-0 row align-items-center">
						<div class="col-12">
							<img src="{{ LOGA[r.pojistovna] }}" class="img-fluid" style="max-height:60px;" alt="{{ r.pojistovna }}"
								(click)="layout.produktCollapsed[r.id] = !layout.produktCollapsed[r.id]"
        						[attr.aria-expanded]="!layout.produktCollapsed[r.id]" aria-controls="produktCollapsed" 
							/>
						</div>
					</div>
					<div class="col-12 col-lg-7 order-3 order-lg-2 pl-0 pr-0 row align-items-center">
						<div class="col text-right">
							<span [outerHTML]="r?.produkt"></span>
						</div>
						<div class="col text-right">
							<span [outerHTML]="r?.params?.pc?.hodnota | menaFormat"></span>
						</div>
						<div class="col text-right" style="font-size: 80%"><span [outerHTML]="r?.params?.spol.hodnota | spolFormat"></span></div>
						<div class="col text-right"><span [outerHTML]="r.params.uzpl.hodnota"></span></div>
					</div>								
					<div class="col-8 col-sm-7 col-lg-3 order-2 order-lg-3 p-0 row align-items-center">
						<div class="col text-right pl-0 cena vag"><span *ngIf="r.platby[data.platba] > 0">{{ r.platby[data.platba] | telefonFormat }}&nbsp;{{ 'FORM.KC' | translate }}</span></div>
						<div class="col text-right">
							<button class="btn btn-sm btn-success pull-right" (click)="vyberProdukt.emit(r.id);">
								{{ 'FORM.BUTTONS.SJEDNAT' | translate }}&nbsp;<i class="fa fa-chevron-right"></i>
							</button>
						</div>
					</div>
					<div id="produktCollapsed_{{r.id}}" [collapse]="layout.produktCollapsed[r.id]" class="col-12 order-4">
						<hr class="mb-0" />
						<div class="row mb-2">
							<div class="col-sm-8 order-2 order-sm-0 pl-0">
								<h5 *ngIf="r.dokumenty.length" class="vagl mt-4">{{ 'SROVNANI.DOKUMENTY' | translate }}</h5>
								<ul *ngIf="r.dokumenty.length" class="fa-ul">
									<li *ngFor="let dok of r.dokumenty">
										<a class="" href="{{ dok.url }}" target="_pdf_dok"><span class="fa-li" ><i class="text-danger far fa-file-pdf"></i></span> {{ dok.nazev }}</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 order-1 px-0">
								<h5 *ngIf="r.pplatby.length" class="vagl mt-4">{{ 'SROVNANI.PLATBY' | translate }}</h5>
								<span *ngFor="let pl of r.pplatby" class="" >
									<button *ngIf="pl.value > 0" class="btn btn-sm mt-1 mr-1"
										[class.btn-primary]="data.platba === pl.key" [class.btn-outline-primary]="data.platba !== pl.key"
										(click)="data.platba = pl.key">
										{{ pl.key }} x <strong><span [outerHTML]="pl.value | telefonFormat"></span>&nbsp;{{ 'FORM.KC' | translate }}</strong>
									</button>
								</span>
							</div>
						</div>
					</div>								
				</div>
			</div>

		</div>
	</div>

</div>